a {
  text-decoration: none;
}


.formCliente {
  margin: 2rem;
  width: 100%;
  height: auto;
}

.formCliente label {
  padding: 0.2rem;
  margin: auto;
  width: auto;
}

input.ng-invalid.ng-touched {
  border: solid 0.8px red;
}

.formCliente .buttons {
  padding-top: 10px;
  text-align: left;
}
